img {
    width: 100%;
  }
  
  body {
    width: 80%;
    margin: auto;
    padding: 30px;
    font-size: 25px;
    font-family: Arial, sans-serif;
  }
  
  div:first-of-type, div:nth-of-type(2), div:nth-of-type(3) {
    border: 2px solid #ef0c0c;
    height: 400px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
  }
  
  div:first-of-type {
    flex-direction: row-reverse;
  }
  
  div:nth-of-type(2) {
    flex-direction: row;
  }
  
  h2 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  figure {
    margin: 0;
  }